/* src/App.css */

.page-footer {
  transition-property: background-color, box-shadow;
  transition-duration: .75s;  
}

._App {
  overflow: hidden;
}

.page-container {
  height: 100%;
  width: 100%;
}

main,
header,
footer {
  position: relative;
}

header {
  z-index: 999;
}

footer {
  z-index: 998;
}

main {
  z-index: 0;
  height: calc(100vh - 56px - 48px);
}

p {
  margin: 0;
}

.drop-shadow-1 {
  -webkit-filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.50));
  filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.50));
}

.drop-shadow-2 {
  -webkit-filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, 0.35));
}

.f-raleway,
.f-3 {
  font-family: 'Montserrat', sans-serif;
}

.f-opensans,
.f-2 {
  font-family: 'Open Sans', sans-serif;
}

.f-oleo,
.f-1 {
  font-family: 'Oleo Script', cursive;
}

.small-divider::after {
  color: #FFD95D;
  display: block;
  content: "―";
  width: 100%;
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  height: 6px;
  line-height: 1px;
}

.small-divider-white::after {
  color: #fff;
  display: block;
  content: "―";
  width: 100%;
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  height: 6px;
  line-height: 1px;
}

.fadeOut {
  pointer-events: none;
}

/* width */

@media only screen and (min-width: 993px) {
  ::-webkit-scrollbar {
    height: 7px;
    width: 7px;
  }
}

/* Track */

::-webkit-scrollbar-track {
  background: rgba(34, 34, 34, 0.25);
}

::-webkit-scrollbar-track:hover {
  background: rgba(34, 34, 34, 0.5);
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #444;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

/* Medium and up */

@media only screen and (min-width: 601px) {
  main {
    height: calc(100vh - 56px - 48px);
  }
}