/* components/Container/Content.css*/

._SingleContainer,
._DoubleContainer {
  position: fixed;
  /* 100vh - navbar height - footer height */
  height: calc(100vh - 56px - 48px);
  width: 100%;
  /* overflow: auto;   */
}

._SingleContainer .bg-image {
  position: absolute;
  height: 100%;
	width: 100%;
  z-index: -1;
  background-size: cover !important;
}

.cc-row,
.content-container {
  height: inherit;
  margin-bottom: 0 !important;
}

@media only screen and (min-width: 601px) {
  ._SingleContainer,
  ._DoubleContaine {
    /* 100vh - navbar height - footer height */
    height: calc(100vh - 64px - 48px);
  }
}