/* components/Content/ContentTitle.css */

._ContentTitle {
  line-height: 1;
  margin-bottom: 20px;
}

._ContentTitle .title-header {
	font-family: 'Open Sans', sans-serif;	
  text-transform: uppercase;
  text-align: center;
  font-size: 63px;
}