/* components/Content/ContentTitle.css */

._ContentTitle {
  line-height: 1;  
}

._ContentTitle .title-header {
  position: relative;
  color: #FFD95D;
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Oleo Script', cursive;
  text-transform: uppercase;
  text-align: center;
  font-size: 64px;  
}

._ContentTitle .pretitle-header {
  position: relative;
  /* color: #FEEDBB; */
  text-transform: uppercase;
  text-align: center;
	font-size: 42px;
	top: 6px;
	line-height: 30px;
}