/* components/Content/ContentWrapper.css */

._ContentWrapper {
  margin-top: 20px !important;
  margin-bottom: 20px !important;  
}

/* Medium and up */

@media only screen and (min-width: 601px) {
  ._ContentWrapper {
    margin-top: 30px !important;
    margin-bottom: 30px !important;    
  }
}

/* Large and up */

@media only screen and (min-width: 993px) {
  ._ContentWrapper {
    margin-top: 80px !important;
    margin-bottom: 45px !important;
  }
}