._MenuNav {
  position: absolute;
  height: 42px;
  z-index: -1;
  background: #567B37;
  width: 100%;
  font-size: 14.5px;
  line-height: 42px;
}

._MenuNav .menunav-list {
  height: 100%;
  margin: 0px;
  overflow: auto;
  text-align: center;
}

._MenuNav .menunav-link {
  padding: 0 10px;
  height: 100%;  
	display: inline-block;
	text-transform: uppercase;
}