/* pages/Home/Home.css */

._Home {
  position: relative;
  color: #fff;
  z-index: 0;
}

._Home .mai-stalkerDiv-wrapper {
  position: fixed;
  pointer-events: auto;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

._Home .bg-img {
  position: fixed;
  top: 0;
  background: url("../../images/back.png");
  background-color: #222;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

._Home .home-section {
  height: inherit;
}

._Home .footer-image {
  position: absolute;
  bottom: 0;
}

._Home .home-header {
  position: relative;
  height: 35%;
}

._Home .home-header .header-image {
  position: relative;
  height: 60%;
  -webkit-filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.90));
  filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.90));
}

._Home .home-header .header-text {
  position: relative;
  height: 40%;
  -webkit-filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.90));
  filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.90));
  font-size: 100%;
  line-height: 1;
}

._Home .home-header .header-text .text-main {
  position: relative;
  height: 73%;
}

._Home .home-header .header-text .text-sub {
  color: #FFD95D;
  position: relative;
  height: 27%;
}

._Home .home-nav {
  position: relative;
  pointer-events: none;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

._Home .home-nav span {
  /* position: relative; */
  /* pointer-events: auto; */
  /* cursor: pointer; */
  /* z-index: 1; */
}

._Home .home-carousel {
  pointer-events: none;
  position: relative;
  height: 55%;
  padding-bottom: 5px;
}

._Home .home-carousel img {
  position: relative;
  padding-top: 5px;
  z-index: 1001;
  -webkit-filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.90));
  filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.90));
}

._Home .single-container {
  background-color: transparent;
}

._Home .home-nav a {
  transition-property: color;
  transition-duration: .5s;
}

._Home .home-nav a:hover {
  color: yellow;
}

/* Medium and up */

@media only screen and (min-width: 601px) {
  ._Home .home-nav {
    font-size: 20px;
  }
}

/* Large and up */

@media only screen and (min-width: 993px) {
  ._Home .home-header {
    padding-top: 10px;
  }
}