/* pages/Home/Home.css */

._Home {
  position: relative;
  color: #fff;
}

._Home .home-section {
  height: inherit;
}

._Home .footer-image {
  position: absolute;
  bottom: 0;
}

._Home .home-header {
  position: relative;
  height: 35%;
}

._Home .home-header .header-image {
  position: relative;
  height: 60%;
  -webkit-filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.90));
  filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.90));
}

._Home .home-header .header-text {
  position: relative;
  height: 40%;
  -webkit-filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.90));
  filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.90));
  font-size: 100%;
}

._Home .home-header .header-text .text-main {
  position: relative;
  height: 75%;
}

._Home .home-header .header-text .text-sub {
  color: #F6BE61;
  position: relative;
  height: 25%;
}

._Home .home-nav {
  position: relative;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

._Home .home-carousel {
  position: relative;
  height: 55%;
  padding-bottom: 5px;
}

._Home .home-carousel img {
  position: relative;
  padding-top: 5px;
  z-index: 1001;
  -webkit-filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.90));
  filter: drop-shadow(2px 3px 2px rgba(0, 0, 0, 0.90));
}

._Home .single-container {
  background-color: transparent;
}

/* Medium and up */

@media only screen and (min-width: 601px) {
  ._Home .home-nav {
    font-size: 20px;
  }
}

/* Large and up */

@media only screen and (min-width: 993px) {
  ._Home .home-header {
    padding-top: 10px;
  }
}