/* pages/Info/Info.css */

._Info .pretitle-header {
  color: #FEEDBB;
}

._Info ._ContentTitle {
  margin-bottom: 20px;
}

._Info .info-content {
  margin: auto;
  max-width: 450px;
}

@media only screen and (min-width: 601px) {
  ._Info ._ContentTitle {
    margin-bottom: 45px;
  }
}