/* pages/Info/Info.css */

._Info {
  position: absolute;
  top: 0;  
  height: 100%;
  width: 100%;
  overflow: auto;
  z-index: 0;
}

._Info .info-map {
  position: absolute;
  height: 100%;
  width: 100%;
}

._Info .content-container {
  padding: 0 !important;
}

._Info .info-col {
  position: absolute;
  padding: 48px !important;
  z-index: 1;
  max-width: 500px;
}

._Info .info-card {
  overflow: hidden !important;
  background-color: #92C14D;
  margin-bottom: 24px;
  max-width: 350px;
}

._Info .info-header {
  background-color: #92C14D;
  color: #567A22;
  text-align: center;
  min-height: 36px;
  padding: 6px;
  font-size: 24px;
  font-weight: bold;
  /* margin-bottom: 12px; */
}

._Info .info-header .material-icons {
  color: #567A22;
  color: #FFD95D;
  top: 10px;
  position: relative;
  font-size: 42px;
  line-height: 24px;
}

._Info .info-body {
  font-weight: bold;
  color: #fff;
  margin-bottom: 12px;
}

._Info .map-marker {
  position: relative;
  padding: 5px;
  height: 25px;
  width: 85px;
  background: #253031;
  border-radius: 10px;
}

._Info .marker-text {
  text-align: center;
  z-index: 1;
  position: absolute;
  height: 15px;
  width: 80px;
  color: white;
  font-size: 15px;
  line-height: 15px;
  margin: auto;
  left: 3px;
}

._Info .marker-frame {
  position: relative;
  height: 45px;
  display: inline-block;
  left: 50%;
  transform: translate(-50%);
  top: -15px;
  padding: 9px 4px;
  background: #253031;
  border-radius: 75px;
}

._Info .marker-logo {
  position: relative;
  height: 45px;
  display: inline-block;
  left: 50%;
  transform: translate(-50%);
  top: -10px;
  padding: 9px 4px;
  background: #253031;
  border-radius: 50px;
}

/* Small and down */

@media only screen and (max-width: 600px) {
  ._Info .info-map {
    position: relative;
    height: 100vw;
    max-width: 599px;
    min-height: 50%;
  }
  ._Info .content-container {
    padding: 0 !important;
  }
  ._Info .info-col {
    position: relative;
    padding: 0 !important;
    margin: 0 !important;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.3);
    max-width: initial;
  }
  ._Info .info-card {
    overflow: hidden !important;
    margin-bottom: 0px;
    max-width: initial;
    box-shadow: initial;
  }
}

/* Medium only */

@media only screen and (min-width: 600px) and (max-width: 992px) {
  ._Info .info-body {
    text-align: center;
  }
  ._Info .info-col {
    position: absolute;
    padding: 24px !important;
    margin: 0 !important;
    max-width: initial;
  }
}