/* components/Footer/FooterHome.css */

._FooterHome {
	position: relative;
  height: 48px;
  padding-top: 0 !important;
	text-transform: uppercase;
	/* box-shadow: 0 -1px 4px -1px rgba(0, 0, 0, 0.3); */
	line-height: 48px;
	background-color: transparent !important;
}

._FooterHome .copyright {
	/* color: #222 !important;	 */
	padding: 0 !important;
	min-height: 48px !important;
}

._FooterHome .credit-logo {
	margin-top: 9px;
	height: 30px;	
}

._FooterHome .credit-text {	
	padding: 0 10px;
	color: #fff;	
}

@media only screen and (max-width: 600px) {
	._FooterHome,
	._FooterHome .copyright {
		text-align: center;
		padding: 0;
	}
}