/* components/Footer/Footer.css */

._Footer {
  position: relative;
  height: 48px;
  padding-top: 0 !important;
  text-transform: uppercase;
  line-height: 48px;
  font-weight: bold;
  background-color: #253031 !important;
}

._Footer .copyright {
  padding: 0 !important;
  min-height: 48px !important;
}

._Footer .credit-logo {
  margin-top: 9px;
  height: 30px;
}

._Footer .credit-text {
  padding: 0 10px;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  ._Footer,
  ._Footer .copyright {
    text-align: center;
    padding: 0;
  }
}