@media only screen and (min-width: 993px) {
  ._Menu .right-container {
    padding-top: 42px !important;
  }
}

@media only screen and (min-width: 993px) {
  ._Menu .right-container {
    padding-top: 42px !important;
  }
}

._Menu {
  position: absolute;
  top: 0;
  color: #253031;
  z-index: 0;
}

._Menu .right-container {
  background-color: #fff;
}

._Menu .menu-wrapper {
  height: 100%;
  overflow: auto;
}

._Menu .menu-content {
  margin: auto;
  width: 85%;
  padding: 1.5rem;
}

._Menu .category {
  overflow: hidden;
  -webkit-transition-property: height;
  -o-transition-property: height;
  transition-property: height;
  -webkit-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s;
}

._Menu .category-name {
  text-transform: uppercase;
  font-size: 24px;
  margin-bottom: 1.5rem;
}

._Menu .category-name span {
  border-bottom: 3px black solid;
}

._Menu .item {
  margin-bottom: 15px;
}

._Menu .item-name {
  text-transform: uppercase;
  font-weight: bold;
}

._Menu ul {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

._Menu .item-details {
  font-size: 13px;
  font-style: italic;
  font-weight: bold;
}

._Menu .item-options {
  font-size: 13px;
}

/* Small and down */

@media only screen and (max-width: 600px) {
  ._Menu .menu-content {
    width: 100%;
  }
}