/* components/Navbar/NavbarHome.CSS */

._NavbarHome {
  position: relative;
}

._NavbarHome .logo-img {
  padding: 0 5px;
  position: relative;
  top: 8px;
  height: 40px;
}

._NavbarHome ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
}

._NavbarHome .nav-link {
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: .5s;
       -o-transition-duration: .5s;
          transition-duration: .5s;
}

._NavbarHome .nav-link.active {  
  color: #FFD95D;
}

/* NavbarHome Specific */

._NavbarHome nav {
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  -o-transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: .75s;
       -o-transition-duration: .75s;
          transition-duration: .75s;  
  background-color: transparent;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  font-weight: bold;
}

._NavbarHome nav ul a,
._NavbarHome nav i {
  color: #fff;
}

/* Small only */

@media only screen and (max-width: 600px) {
  ._NavbarHome .nav-wrapper {
    width: 100%;
  }
  ._NavbarHome .logo-img {
    padding: 0 5px 0 0;
  }
}

/* Medium and up */

@media only screen and (min-width: 601px) {
  ._NavbarHome .logo-img {
    position: relative;
    height: 40px;
  }
}