/* components/Navbar/Navbar.CSS */

nav {
  background-color: #222;
}

._Navbar {
  position: relative;  
}

._Navbar nav {
  transition-property: background-color, box-shadow;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  /* background-color: #fff !important; */
}

._Navbar .logo-img {
  padding: 0 15px;
  position: relative;
  top: 4px;
  height: 48px;
}

._Navbar ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
}

/* Small only */

@media only screen and (max-width: 600px) {
  ._Navbar .nav-wrapper {
    width: 100%;
  }
}

/* Medium and up */

@media only screen and (min-width: 601px) {
  ._Navbar .logo-img {
    position: relative;
    height: 48px;
  }
}