/* components/Navbar/Navbar.CSS */

._Navbar {
  position: relative;
  font-weight: bold;
}

._Navbar nav {
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  -o-transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: .75s;
       -o-transition-duration: .75s;
          transition-duration: .75s;
}

._Navbar .logo-img {
  padding: 0 5px;
  position: relative;
  top: 8px;
  height: 40px;
}

._Navbar ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
}

._Navbar .nav-link {
  -webkit-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: .3s;
       -o-transition-duration: .3s;
          transition-duration: .3s;
}

._Navbar .nav-link.active {  
  color: #FFD95D;
}

.logo-text {
  text-transform: uppercase;
}

/* Small only */

@media only screen and (max-width: 600px) {
  ._Navbar .nav-wrapper {
    width: 100%;
  }
  ._Navbar .logo-img {
    padding: 0 5px 0 0;
  }
  .brand-logo {
    width: 100%;
    text-align: center
  }
}

/* Medium and up */

@media only screen and (min-width: 601px) {
  ._Navbar .logo-img {
    position: relative;
    height: 40px;
  }
}