/* components/Navbar/NavbarHome.CSS */

._NavbarHome {
  position: relative;
}

._NavbarHome .logo-img {
  padding: 0 5px;
  position: relative;
  top: 8px;
  height: 40px;
}

._NavbarHome ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
}

._NavbarHome .nav-link {
  transition-property: color;
  transition-duration: .5s;
}

._NavbarHome .nav-link.active {  
  color: #FFD95D;
}

/* NavbarHome Specific */

._NavbarHome nav {
  transition-property: background-color, box-shadow;
  transition-duration: 1s;
  transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  background-color: transparent;
  box-shadow: none !important;
  font-weight: bold;
}

._NavbarHome nav ul a,
._NavbarHome nav i {
  color: #fff;
}

/* Small only */

@media only screen and (max-width: 600px) {
  ._NavbarHome .nav-wrapper {
    width: 100%;
  }
  ._NavbarHome .logo-img {
    padding: 0 5px 0 0;
  }
}

/* Medium and up */

@media only screen and (min-width: 601px) {
  ._NavbarHome .logo-img {
    position: relative;
    height: 40px;
  }
}