/* components/Navbar/NavbarHome.CSS */

._NavbarHome {
  position: relative;
}

._NavbarHome .logo-img {
  padding: 0 20px;
  position: relative;
  top: 4px;
  height: 48px;
}

._NavbarHome ul>li>a {
  padding: 0 20px;
  text-transform: uppercase;
}

/* NavbarHome Specific */
._NavbarHome nav {  
  background-color: #fff;
}

._NavbarHome nav ul a {
  color: #222;
  background-color: #fff;
}

/* Medium and up */

@media only screen and (min-width: 601px) {
  ._NavbarHome .logo-img {
    position: relative;
    height: 56px;
  }
}