/* ./Navbar/Sidenav Component */

._Sidenav .sidenav-header {
  padding: 48px 0;
  border-bottom: 2px solid #444;
  background-color: #333;
  margin-top: 0;
  color: #fff;
}

.sidenav-trigger {
  margin: 0px !important;
  padding: 0px 18px;
}

._Sidenav .credit-logo {
  position: relative;
  top: 17px;
  height: 20px;
}
